/*OVAL BUTTON SPECIFIC CSS*/
@import "../pages/styles";

.btn {
  display: flex;
  border: 3px solid white;
  border-radius: 20px;
  color: white;
  width: auto;
  max-width: 300px;
  white-space: nowrap;
  background-color: $green;
  margin: 15px 50px;
  justify-content: flex-start;
  overflow: hidden;
}

.link {
  background-color: $red;
  color: $tan;
  font-size: 28px;
  padding: 0 10px;
  flex: 4 0;
  text-align: center;
  height: 100%;
  &:hover {
    background-color: darken($red, 10%);
    color: $tan;
  }
}

.arrow {
  display: flex;
  flex: 1 0;
  padding: 0 10px;
  align-items: center;
  justify-content: center;
}
